@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');


.btn-mod {
  background-color: #01b031;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 75px;
  cursor: pointer;
}
.btn-mod img {
  vertical-align: middle;
}
.btn-vip {
  background-color: #fb0fcb;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 75px;
  cursor: pointer;
}
.btn-vip img {
  vertical-align: middle;
}
.btn-chat {
  background-color: #d3a423;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 75px;
  cursor: pointer;
}
.btn-chat img {
  vertical-align: middle;
}